@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li, a, button {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
    outline: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    outline: none;
}

.nav_links {
    list-style: none;
    outline: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    outline: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #1aabf3;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
.h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #000;
    font-family: "Raleway";
}
.h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #000;
    font-family: "Raleway";
}

.input {
    border-radius: 4px;
    background-color: #1aabf3;
    color: white;
    border: 2px solid #1aabf3;
    outline: none;
    font-size: 14px;
    font-family: "Raleway";
    text-align: center;
    left: 50%;
    transition: all 0.3s ease 0s;
}

.div {
    border: 4px solid #1aabf3;
    border-radius: 4px;
    width: 260px;
  height: 142px;
  margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    align-content: center;
    margin-bottom: 25px;
}
.img {
    border-radius: 4px;
    display: block;
    width: 250px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

.how-to {
width: 500px;
height: 330px;
border-radius: 2px;
border: solid 2px #1aabf3;
align-content: center;
}

.calculator {
width: 300px;
height: 330px;
border-radius: 2px;
border: solid 2px #1aabf3;
align-content: center;
}

.done {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #000;
    font-family: "Raleway";
    margin-bottom: 25px;   
}